/* CSS file for zimfiction */

/* general layout */

body {
  width: 100%;
  margin: 0px;
}

.content-container {
  margin: 10px;
}

HR {
  margin: 20px;
  margin-bottom: 28px;
}

.navigation {
  background-color: #333399;
  display: flex;
  width: 100%;
  color: #ffffff;
  padding: 4px;
}

.navigation * {
  color: #ffffff;
}

/* story summary */

.story_summary_footer P {
  text-align: right;
}

.story_summary_meta TH {
  text-align: left;
  padding-right: 40px;
}

.taglink {
  color: #111;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.taglink-warning {
  font-weight: bold;
}

.taglink-relationship {
  background: #eee;
}

.story_summary_title {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 132%
}

.story_updated_text {
  display:inline;
  float: right;
  font-weight: initial;
  font-size:initial;
}

.story_short_categories {
  font-size: initial;
  font-weight: initial;
  margin-bottom: 16px;
  margin-left: 16px;
}

.story_short_tags {
    margin-left: 16px;
}

.categorylink {
  text-decoration: none;
  color: black;
  border-bottom: 1px dotted black;
}

.serieslink {
  color: #111;
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* story list page */
.story_list_page_item {
  background-color: lightgray;
  padding: 10px;
  border: 1px solid gray;
}

.statslink {
  background: lightgray;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 8px;
  margin: auto;
}

/* page buttons */

.page_button {
  display: inline;
  background: lightgray;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
}

.page_button P  {
  display: initial;
}

.page_button_link {
  text-decoration: none;
}

.cur_page_button_link {
  color: black;
  font-weight: bold;
}

.page_buttons {
  display: flex;
  justify-content: center;
}

/* chapter index */

.chapter_index_list {
  list-style-type: none;
}

.chapter_index_list li {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  border: 1px solid black;
}

.chapter_index_list li:nth-child(even) {
  background: darkgray;
}
.chapter_index_list li:nth-child(odd) {
  background: lightgray;;
}

.chapter_index_list a {
  color: black;
}

/* publisher */

.publisher_categories, .publisher_statistics {
  background: lightgray;
  border: 1px solid gray;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 1px;
}

.publisher_statistics {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.publisher_categories * {
  display: inline;
  padding-top: 1px;
  padding-bottom: 1px;
}

.publisher_categories H2 {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  display: flex;
}

.category_long_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  display: inline-block;
}

.category_long_list LI {
  display: block;
  list-style: none;
}

.category_list_story_count {
  color: gray;
}

/* category page */

.category_story_count {
  margin-left: 16px;
  margin-bottom: -10px;
}

/* index page */

.publisher_list UL {
  list-style: none;
  display: block;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.publisher_list LI {
  display: inline;
}

.publisher {
  display: inline-block;
  background: lightgray;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 90%;
  margin: 10px;
}

.publisher_div_link {
  text-decoration: none;
  color: black;
}

.publisher_name {
  font-weight: bolder;
  font-size: 150%;
  border-bottom: 1px dotted black;
  width: fit-content;
}

.publisher_num_categories, .publisher_num_stories {
  display: inline;
  margin: 10px;
  color: #353535;
}

/* statistics */

.statstable {
  width: 90%;
  padding: 1px;
  margin: auto;
  background: gray;
}

.statstable TR {
  background: lightgray;
}

.statstable TR:nth-child(even) {
  background: darkgray;
}

.statstable TH {
  text-align: left;
}

.statstable TD {
  text-align: right;
}

.stats_back_link {
  background: lightgray;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 8px;
  margin-left: 20px
}
