/* CSS file for zimfiction */

/* general layout */

body {
  width: 100%;
  margin: 0px;
}

.content-container {
  margin: 10px;
}

HR {
  margin: 20px;
  margin-bottom: 28px;
}

.navigation {
  background-color: #333399;
  display: flex;
  width: 100%;
  color: #ffffff;
  padding: 4px;
}

.navigation * {
  color: #ffffff;
}

/* story summary */

.story_summary_footer P {
  text-align: right;
}

.story_summary_meta TH {
  text-align: left;
  padding-right: 40px;
}

.taglink {
  color: #111;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.taglink-warning {
  font-weight: bold;
}

.taglink-relationship {
  background: #eee;
}

.story_summary_title {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 132%
}

.story_updated_text {
  display:inline;
  float: right;
  font-weight: initial;
  font-size:initial;
}

.story_short_categories {
  font-size: initial;
  font-weight: initial;
  margin-bottom: 16px;
  margin-left: 16px;
}

.story_short_tags {
    margin-left: 16px;
}

.categorylink {
  text-decoration: none;
  color: black;
  border-bottom: 1px dotted black;
}

.serieslink {
  color: #111;
  text-decoration: none;
  border-bottom: 1px dotted;
}

/* story list page */
.story_list_page_item {
  background-color: lightgray;
  padding: 10px;
  border: 1px solid gray;
}

.statslink {
  background: lightgray;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 8px;
  margin: auto;
}

/* page buttons */

.page_button {
  display: inline;
  background: lightgray;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
}

.page_button P  {
  display: initial;
}

.page_button_link {
  text-decoration: none;
  color: blue;
}

.cur_page_button_link {
  color: black;
  font-weight: bold;
}

.page_buttons {
  display: flex;
  justify-content: center;
}

/* chapter index */

.chapter_index_list {
  list-style-type: none;
}

.chapter_index_list li {
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  border: 1px solid black;
}

.chapter_index_list li:nth-child(even) {
  background: darkgray;
}
.chapter_index_list li:nth-child(odd) {
  background: lightgray;;
}

.chapter_index_list a {
  color: black;
}

/* publisher */

.publisher_categories, .publisher_statistics {
  background: lightgray;
  border: 1px solid gray;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 1px;
}

.publisher_statistics {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.publisher_categories * {
  display: inline;
  padding-top: 1px;
  padding-bottom: 1px;
}

.publisher_categories H2 {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  display: flex;
}

.category_long_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  display: inline-block;
}

.category_long_list LI {
  display: block;
  list-style: none;
}

.category_list_story_count {
  color: gray;
}

/* category page */

.category_story_count {
  margin-left: 16px;
  margin-bottom: -10px;
}

/* index page */

.publisher_list UL {
  list-style: none;
  display: block;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.publisher_list LI {
  display: inline;
}

.publisher {
  display: inline-block;
  background: lightgray;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 90%;
  margin: 10px;
}

.publisher_div_link {
  text-decoration: none;
  color: black;
}

.publisher_name {
  font-weight: bolder;
  font-size: 150%;
  border-bottom: 1px dotted black;
  width: fit-content;
}

.publisher_num_categories, .publisher_num_stories {
  display: inline;
  margin: 10px;
  color: #353535;
}

/* statistics */

.statstable {
  width: 90%;
  padding: 1px;
  margin: auto;
  background: gray;
}

.statstable TR {
  background: lightgray;
}

.statstable TR:nth-child(even) {
  background: darkgray;
}

.statstable TH {
  text-align: left;
}

.statstable TD {
  text-align: right;
}

.stats_back_link {
  background: lightgray;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 8px;
  margin-left: 20px
}

/* search */

#search_input_div {
  background: lightgray;
  border: 1px solid darkgray;
  margin-bottom: 10px;
}

#toggle_search_input_button {
  width: 100%;
  background: darkgray;
  padding: 4px;
  font-weight: bold;
  color: black;
}

.search_input_content {
  display: none;
}

#search_button {
  float: right;
  margin: auto;
  background: darkgray;
  border: 1px solid gray;
  height: 34px;
  font-size: 110%;
  padding: 4px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 4px;
}

#search_button:hover {
  background: gray;
}

#statusdiv {
  display: inline-block;
  background: #bbbbbb;
  width: 30%;
  text-align: center;
  margin: 4px;
  padding: 4px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 4px;
}

#statusdiv P {
  display: inline;
  font-size: 110%;
}

.search_input_list {
  display: block;
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.search_input_list LI {
  width: 90%;
  page-break-inside: avoid;
}

.search_field_div DIV:not(.autocomplete *) {
  display: inline;
}

.search_field_div LABEL {
  width: 100%;
}

.search_field_div INPUT {
  width: 100%;
}


.search_criteria {
  display: initial;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  width: fit-content;
}

.search_field_list {
  list-style: none;
}

.search_field_list LI {
  display: block;
  width: 100%;
}

.criteria_buttons {
  text-align: right;
  float: right;
}

#search_sort_select_label {
  margin-left: 40px;
  margin-right: 10px;
}

#search_sort_select {
  width: 40%;
}

.criteria_buttons {
  height: 100%;
  width: fit-content;
  margin: 0px;
  padding: 0px;
}

.include_button, .remove_button {
  border-radius: 0;
  border: 1px solid black;
  margin: 0px;
  background-color:
  height: 100%;
  font-size: 100%;
}

.remove_button {
  color: red;
  font-weight: bolder;
}

/* css code for autocomplete from https://www.w3schools.com/howto/howto_js_autocomplete.asp */

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  /*! display: initial; */
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
