{# This is a page for list of stories by an author. Expects "to_root", "author", "stories", "stats", "num_pages" and "cur_page" as argument #}
{% extends "base.html.jinja" %}

{% block title %}
    <TITLE>ZimFiction - Stories written by {{ author.name }} [{{ author.publisher.name }}]</TITLE>
{% endblock %}

{% block content %}
    <H1>Stories written by {{ author.name }} [{{ author.publisher.name }}]</H1>
    <HR>
    {% with stats=stats, to_root=to_root %}
        {% include "storyliststats.html.jinja" %}
    {% endwith %}
    <HR>
    {% if options.include_external_links %}
        <DIV class="author_org_link_div">
            <A class="external_link" href="{{ author.url }}">{{ author.name }} on {{ author.publisher.name }}</A>
        </DIV>
        <HR>
    {% endif %}
    {% for story in stories %}
        <DIV class="story_list_page_item">
            {% with story=story, to_root=to_root, extended=False %}
                {% include "storysummary.html.jinja" %}
            {% endwith %}
        </DIV>
    {% endfor %}
    <HR>
    {% with num_pages=num_pages, cur_page=cur_page, to_root=to_root %}
        {% include "pagebuttons.html.jinja" %}
    {% endwith %}
{% endblock %}
