{# This is a page for list of stories by an author. Expects "to_root", "author", "other_identities", "stories", "stats", "num_pages" and "cur_page" as argument #}
{% extends "base.html.jinja" %}

{% block title %}
    <TITLE>ZimFiction - Stories written by {{ author.name|escape }} [{{ author.publisher.name }}]</TITLE>
{% endblock %}

{% block scripts %}
    <script src="{{ to_root }}/scripts/chart.js"></script>
    <script src="{{ to_root }}/scripts/storytimechart.js"></script>
{% endblock %}

{% block content %}
    <H1>Stories written by {{ author.name|escape }} [{{ author.publisher.name }}]</H1>
    <HR>
    {% with stats=stats, to_root=to_root %}
        {% include "storyliststats.html.jinja" %}
    {% endwith %}
    <HR>
    {% if options.include_external_links %}
        <DIV class="author_org_link_div">
            <H2>Link to the author's original profile</H2>
            <A class="external_link" href="{{ author.url }}">{{ author.name|escape }} on {{ author.publisher.name }}</A>
        </DIV>
    {% endif %}
    {% if other_identities|length > 0 %}
        <DIV class="author_alt_links">
            <H2>Authors sharing the same name on other publishing sites</H2>
            <UL>
                {% for alt_id in other_identities %}
                    <LI><A href="{{ to_root }}/author/{{ alt_id.publisher.name }}/{{ alt_id.name|normalize_tag }}/">{{ alt_id.name|escape }} on {{ alt_id.publisher.name }}</A></LI>
                {% endfor %}
            </UL>
        </DIV>
    {% endif %}
    {% if options.include_external_links or other_identities|length > 0 %}
        <HR>
    {% endif %}
    {% for story in stories %}
        <DIV class="story_list_page_item">
            {% with story=story, to_root=to_root, extended=False %}
                {% include "storysummary.html.jinja" %}
            {% endwith %}
        </DIV>
    {% endfor %}
    <HR>
    {% with num_pages=num_pages, cur_page=cur_page, to_root=to_root %}
        {% include "pagebuttons.html.jinja" %}
    {% endwith %}
{% endblock %}
