{# This is a page for list of stories in a category. Expects "to_root", "category", "stories", "num_pages" and "cur_page" as argument #}
{% extends "base.html.jinja" %}

{% block title %}
    <TITLE>ZimFiction - {{ category.name }} on {{ category.publisher }}</TITLE>
{% endblock %}

{% block content %}
    <H1>{{ category.name }} on {{ category.publisher }} - Page {{ cur_page }}</H1>
    <HR>
    {% for story in stories %}
        <DIV class="story_list_page_item">
            {% with story=story, to_root=to_root, extended=False %}
                {% include "storysummary.html.jinja" %}
            {% endwith %}
        </DIV>
    {% endfor %}
    <HR>
    {% with num_pages=num_pages, cur_page=cur_page, to_root=to_root %}
        {% include "pagebuttons.html.jinja" %}
    {% endwith %}
{% endblock %}
