{# This is a div containing a list of categories. Expects "to_root"and "categories" arguments #}

<DIV class="categorylist">
    {% for category in categories %}
        <A class="categorylink" href="{{ to_root }}/category/{{ category.publisher }}/{{ category.name|normalize_tag }}/">{{ category.name }}</A>{% if not loop.last -%}
            ,
        {% endif %}
    {% endfor %}
</DIV>
