{# This is a page for a chapter of a story. Expects "chapter", "is_first" and "to_root" argument. NOTE: stories don't have their own page #}
{% extends "base.html.jinja" %}

{% block htmlmeta %}
    {{ super() }}
    <META name="description" content="{{ chapter.story.summary|striptags }}">
    <META name="author" content="{{ chapter.story.author.name }}">
    <META name="keywords" content="Chapters: {{ chapter.story.chapters|length }}, Type: Story, Words: {{ chapter.story.total_words }}, {{ chapter.story.explicit_tags|join(", ", attribute="name") }}">
{% endblock %}

{% block title %}
    <TITLE>ZimFiction - {{chapter.story.title}} - {{chapter.index}}. {{chapter.title}}</TITLE>
{% endblock %}

{% block content %}
    {% if is_first %}
        {% with story=chapter.story, to_root=to_root, extended=True %}
            {% include "storysummary.html.jinja" %}
        {% endwith %}
    {% else %}
        <A class="storysummarylink" href=".">Go to summary</A>
    {% endif %}
    <HR>
    {% block storytext %}
        <CENTER>
            <H1 class="storytitle">{{ chapter.story.title }}</H1>
            <H2 class="chaptertitle">{{ chapter.index }}. {{ chapter.title }}</H2>
        </CENTER>
        <DIV class="storytext" id="storytext">
            {{ chapter.text|render_storytext }}
        </DIV>
        {% with to_root=to_root, num_pages=chapter.story.chapters|length, cur_page=chapter.index, fragment="#storytext" %}
            {% include "pagebuttons.html.jinja" %}
        {% endwith %}
    {% endblock %}
{% endblock %}
