{# This is a page for the chapter index of a story. Expects "story" and "to_root" argument.#}
{% extends "chapter.html.jinja" %}

{% block htmlmeta %}
    {{ super.super() }}
    <META name="description" content="{{ story.summary|striptags }}">
    <META name="author" content="{{ story.author.name|escape }}">
    <META name="keywords" content="Chapters: {{ story.chapters|length }}, Words: {{ story.total_words }}, {{ story.explicit_tags|join(", ", attribute="name")|escape }}">
{% endblock %}

{% block title %}
    <TITLE>ZimFiction - {{ story.title|escape }} - Index</TITLE>
{% endblock %}

{% block content %}
    {% with story=story, to_root=to_root, extended=True %}
        {% include "storysummary.html.jinja" %}
    {% endwith %}
    <HR>
    {% block storyindex %}
        <DIV class="storytext chapterindex" id="storytext">
            <UL class="chapter_index_list">
                {% for chapter in story.chapters|sort(attribute="index") %}
                    <LI class="chapterlink"><A href="{{ chapter.index }}">{{ chapter.index }}. {{ chapter.title|escape }} ({{ chapter.num_words|format_number }} words)</A></LI>
                {% endfor %}
            </UL>
        </DIV>
    {% endblock %}
{% endblock %}
