{# This file contains the the page button for the current page. Expects "to_root", "pagenum" arguments. #}
{% extends "pagebutton.html.jinja" %}

{% block button_content %}
    <A class="page_button_link cur_page_button_link" href="{{ pagenum }}">{{ pagenum }}</A>
{% endblock %}
