{# This is the indexpage. Expects "publishers", "to_root"argument.#}
{% extends "base.html.jinja" %}

{% block title %}
    <TITLE>ZimFiction - Welcome!</TITLE>
{% endblock %}

{% block content %}
    <H1>Welcome to ZimFiction!</H1>
    <DIV class="explanation">
        <P>ZimFiction contains fanfiction collected from various sources, organized by the publisher.</P>
    </DIV>
    <DIV class="publisher_list">
        <UL>
            {% for publisher in publishers %}
                <LI>
                    <A class="publisher_div_link" href="{{ to_root }}/publisher/{{ publisher.name }}/">
                        <DIV class="publisher">
                            <P class="publisher_name">{{ publisher.name }}</P>
                            <P class="publisher_num_categories">{{ publisher.categories|length|format_number }} Categories</P>
                            <P class="publisher_num_stories">{{ publisher.stories|length|format_number }} Stories</P>
                        </DIV>
                    </A>
                </LI>
            {% endfor %}
        </UL>
    </DIV>
{% endblock %}
