{# This is the indexpage of the info page. Expects "to_root" argument.#}
{% extends "base.html.jinja" %}

{% block title %}
    <TITLE>ZimFiction - Informations!</TITLE>
{% endblock %}

{% block content %}
    <H1>Informations</H1>
    <HR>
    <DIV class="infoexplanation infobullet">
        <H2>What is this page?</H2>
        <P>This page provides you with general informations about ZimFiction</P>
    </DIV>
    <DIV class="infobullet">
        <H2>What is ZimFiction?</H2>
        <P>ZimFiction is a ZIM file containing fanfiction collected from various sources, organized by the publisher.</P>
    </DIV>
    <DIV class="infobullet">
        <H2>Further resources</H2>
        <UL class="infolinklist">
            <LI><A href="acknowledgements.html">Acknowledgements</A></LI>
        </UL>
    </DIV>
    <HR>
    <A class="info_back_link" href="..">Home</A>
{% endblock %}
