{# This is the mainpage / index page #}
{% extends "base.html.jinja" %}

{% block title %}
    <TITLE>Welcome to Zim34!</TITLE>
{% endblock %}

{% block scripts %}
    <script src="{{ to_root }}scripts/search.js"></script>
{% endblock %}

{% block content %}
    <DIV id="searchdiv">
    </DIV>
    <DIV id="statusdiv">
    </DIV>
    <HR>
    <DIV id="resultdiv">
    </DIV>
    <HR>
    <DIV id="pagination-container">
    </DIV>
{% endblock %}
