{# This is the template for the navigation #}

<DIV class="navigation">
    <A class="navigationlink indexpagelink" href="{{ to_root }}/index.html">ZimFiction</A>
    |
    <A class="navigationlink statspagelink" href="{{ to_root }}/statistics.html">Statistics</A>
</DIV>
