{# This is the template for the navigation #}

<DIV class="nav">
    <A href="{{ to_root }}">ZimFiction</A>
    |
    <A href="{{ to_root }}/info/">Informations</A>
    |
    <A href="{{ to_root }}/statistics.html">Statistics</A>
</DIV>
