{# This file contains a single page button. Expects "to_root", "pagenum" and optional "label" and "fragment" arguments. #}

{% block button_opener %}
    <DIV class="page_button">
{% endblock %}

<P>
    {% block button_content %}
        <A class="page_button_link" href="{{ pagenum }}{{ fragment|default("") }}">{{ label|default(pagenum)|escape }}</A>
    {% endblock %}
</P>

{% block button_closer %}
  </DIV>
{% endblock %}
