{# This file contains a single page button. Expects "to_root", "pagenum" and optional "fragment" arguments. #}

<DIV class="page_button">
    <P>
        {% block button_content %}
            <A class="page_button_link" href="{{ pagenum }}{{ fragment|default("") }}">{{ pagenum }}</A>
        {% endblock %}
    </P>
</DIV>
