{# This is the template for a tag, which will be included from a post #}

<DIV class="tag"><P class="tagname"><A class="taglink" href="{{ to_root }}simple/tag_{{ tag }}/page_0.html">{{ tag }} [{{ tag2amounts[tag] }}]</A></P></DIV>
